# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# SQLite Databases
# =========================
*.sqlite
*.db

# =========================
# Pytest
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Robot Framework
# =========================
log.html
report.html
output.xml

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Mypy / Ruff / Cache
# =========================
.mypy_cache/
.ruff_cache/

# =========================
# Alembic cache
# =========================
*.pyc